<!DOCTYPE html>
<html>
  <%- include('components/MetaHead', { title: metaTitle }); %>
  <header>
    <%- include('components/MainMenu', {}); %>
    <%- include('components/ActionsMenu', {}); %>
  </header>
  <form id="upload-form" method="POST" enctype="multipart/form-data" action="/upload">
    <div>
        <label>Select your files:</label>
        <input type="file" name="files" id="files" multiple />
        <input type="hidden" id="dir" name="dir" value="<%= currentPath %>">
    </div>
    <div>
        <input type="submit" value="Upload" />
    </div>
</form>
  <main
    class="grid grid-cols-2 md:grid-cols-4 lg:grid-cols-6 xl:grid-cols-8 gap-4 p-4"
  >
    <% if (currentPath !== '/') { %>
      <%- include('components/FileCard', {link: '/' + currentPath.split('/').filter(Boolean).slice(0, -1).join('/'), name: '..', src: '/icons8-back.svg', alt: 'back'}); %>
    <% } %>
    <% files.forEach(function(file) { %>
      <% if (file.type === 'folder') { %>
        <%- include('components/FileCard', {link: file.name, name: file.name, src: '/icons8-folder.svg', alt: 'directory:' + file.name}); %>
      <% } else if (file.type.includes('image')){ %>
        <%- include('components/ImageCard', {image: file.name}); %>
      <% } else if (file.type.includes('video')) { %>
        <%- include('components/VideoCard', {link: file.name, mime: file.type, name: file.name}); %>
      <% } else if (file.type.includes('audio')) { %>
        <%- include('components/FileCard', {link: file.name, name: file.name, src: '/icons8-music.svg', alt: 'audio:' + file.name}); %>
      <% } else if (file.type.includes('application')) { %>
        <%- include('components/FileCard', {link: file.name, name: file.name, src: '/icons8-document.svg', alt: 'document:' + file.name}); %>
      <% } else { %>
        <%- include('components/FileCard', {link: file.name, name: file.name, src: '/icons8-file.svg', alt: 'file:' + file.name}); %>
      <% } %>

    <% }); %>
  </main>
  <footer></footer>
</html>

<script>
  const stringToHex = (str) => {
  let hex = '';
  for (let i = 0; i < str.length; i++) {
    const charCode = str.charCodeAt(i);
    const hexValue = charCode.toString(16);

    // Pad with zeros to ensure two-digit representation
    hex += hexValue.padStart(2, '0');
  }
  return hex;
};
const form = document.querySelector('form');
form.addEventListener('submit', (e) => {
    e.preventDefault();
    const files = document.getElementById("files");
    const currentDir = document.getElementById("dir").value;
    let encodedDir = stringToHex(currentDir)
    console.log(currentDir) // REMOVE
    console.log(encodedDir) // REMOVE
    const formData = new FormData();
    for(let i =0; i < files.files.length; i++) {
        formData.append("files", files.files[i]);
        
    }
    fetch(`http://localhost:3000/upload/${encodedDir}`, {
        method: 'POST',
        body: formData
    })
    .then(res => res.json())
    .then(res => console.log(res))
})
</script>