<!DOCTYPE html>
<html>
  <%- include('components/MetaHead', { title: metaTitle }); %>
  <header>
    <%- include('components/MainMenu', {}); %>
    <%- include('components/ActionsMenu', {}); %>
  </header>
  <main
    class="grid grid-cols-2 md:grid-cols-4 lg:grid-cols-6 xl:grid-cols-8 gap-4 p-4"
  >
    <% if (currentPath !== '/') { %>
      <%- include('components/FileCard', {link: '/' + currentPath.split('/').filter(Boolean).slice(0, -1).join('/'), name: '..', src: '/icons8-back.svg', alt: 'back'}); %>
    <% } %>
    <% files.forEach(function(file) { %>
      <% if (file.type === 'folder') { %>
        <%- include('components/FileCard', {link: file.name, name: file.name, src: '/icons8-folder.svg', alt: 'directory:' + file.name}); %>
      <% } else if (file.type.includes('image')){ %>
        <%- include('components/ImageCard', {image: file.name}); %>
      <% } else if (file.type.includes('video')) { %>
        <%- include('components/VideoCard', {link: file.name, mime: file.type, name: file.name}); %>
      <% } else if (file.type.includes('audio')) { %>
        <%- include('components/FileCard', {link: file.name, name: file.name, src: '/icons8-music.svg', alt: 'audio:' + file.name}); %>
      <% } else if (file.type.includes('application')) { %>
        <%- include('components/FileCard', {link: file.name, name: file.name, src: '/icons8-document.svg', alt: 'document:' + file.name}); %>
      <% } else { %>
        <%- include('components/FileCard', {link: file.name, name: file.name, src: '/icons8-file.svg', alt: 'file:' + file.name}); %>
      <% } %>

    <% }); %>
  </main>
  <footer></footer>
</html>

<script>
    window.onload = function() {
      const uploadForm = document.getElementById('upload-form');
      uploadForm.action = window.location.pathname;
  };
</script>